---
- name: create acserver group
  group: name=acserver state=present

- name: create acserver user
  user: name=acserver group=acserver groups=apache

- name: enable group access to acserver install prefix
  file: path="{{acserver_server_install_prefix}}" state=directory mode=0770

- name: grant apache acserver group membership
  user: name=apache state=present groups=acserver

- name: disable sudo requiretty
  lineinfile: dest=/etc/sudoers state=present regexp='^Defaults\s+!?requiretty' line='Defaults    !requiretty' validate='visudo -cf %s'

- name: copy assetto corsa dedicated server files
  synchronize: src=assetto-server dest="{{acserver_server_install_prefix}}"

- name: create assetto-server dir
  file: path="{{acserver_server_install_dir}}" state=directory owner=acserver group=acserver

- name: write acserver systemd unit file
  template: src=acserver/acserver.service.j2 dest=/usr/lib/systemd/system/acserver@.service owner=root group=root mode=0644

- name: write sudoers to grant acserver daemon control
  copy: src=sudoers dest=/etc/sudoers.d/assetto owner=root group=root mode=0440